body {
  background-color:grey;
  color: white;
}

a {
  color: white;
  text-decoration:none;
}

.menu {
  background-color:orange;
  margin-top:0;
  padding:1px;
}

ul {
}


li {
  list-style-type: none;
  display:inline;
  margin-right:1em;
}

.title {
  margin-left:10em;
}
.caddie {
  width: 150%;
}
  .hoverArticle {
    border-radius: 25px;
    background-color: #222222; 
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    padding:10px;
    margin-bottom:1%;
    -webkit-transition: all 0.5s ease; /* Safari and Chrome */
  	 -moz-transition: all 0.5s ease; /* Firefox */
  	 -o-transition: all 0.5s ease; /* IE 9 */
  	 -ms-transition: all 0.5s ease; /* Opera */
  	 transition: all 0.5s ease;
  }

@media screen and (min-width:960px) {
.hoverArticle {
  background-color: #222222; 
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  padding:20px;
  margin-bottom:3%;
}
/*FAIRE LE MENU  HAMBURGER*/
}

@media screen and (max-width:959px) {

  .image{opacity: 0.2;}
}

.amilogged {
  margin-right: 0;
}
.hoverArticle:hover {
  transform: scale(1.05);
}
.addToPanier {
  cursor: pointer;
}
.signin {
  text-align: center;
}

.login {
  text-align: center;
}

.navigation li {
  display: inline-block;
  padding-right: 6em;
  position: relative;
  left: 36%;
}

.navigation a {
  text-decoration: none;
}



.home {
  text-align: center;
  margin-bottom: 2em;
}

.panier {
  position: fixed;
  left: 95%;
  z-index: 1000;
}

.bouton {
  padding: 1em 1.5em;
  border-radius: 5px;
  background-color: #e30713;
  color: white; 
}
.image-gradient {
 z-index:100;

}
.image {
  float:right;
  margin:0;
  border-radius: 25px;
}
.hoverArticle:hover {
  background: linear-gradient(270deg, rgba(255,255,255,0) 26%, rgba(34,34,34,1) 100%);
}